{% extends "Goti_Score/base.html" %}


{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
  
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Completed">Completed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#Upcoming">Upcoming</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Live">Live</a>
      </li>
      
      </ul>
  
      <!-- Tab panes -->
      <div class="tab-content">
      
        <div class="tab-pane container active" id="Completed">
          <h3></h3>
          {% for i in matches %}
          <p><a class="btn btn-primary" href="{% url 'score_card' i.pk%}"> {{ i.team1 }} Vs {{i.team2}}</a></p>
          {% endfor %}
        </div>

      <div class="tab-pane container fade" id="Upcoming">
        <h3></h3>
        <p><a class="btn btn-primary" href="./score">Ind Vs Sl</a></p>

      </div>
      <div class="tab-pane container fade" id="Live">
        <h3></h3>
        <p><a class="btn btn-primary" href="./score">Ind Vs Sl</a></p>

      </div>
      
      </div>
    </div>
  {% endblock content %}